body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .calculator {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 100%;
  }
  
  #display {
    font-size: 24px;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  button:hover {
    background-color: #ccc;
  }
  